extends layout

block content
  h1= title
  p Post Created #{post.create_at}
  p #{post.title}
  p #{post.body}
  button.btn.btn-default(onclick="myfunction()") Like
  script
     $(document).ready(myfunction(){
     console.log("*");});
    
  form(action="/comment_add",method="post")
    textarea(rows="10" col="80")
    br
    button.btn.btn-default(type="submit") Add Comment 
