extends layout

block content
  h1= title
  ul
    li
      a(href='/login') login
    li
      a(href='/sign-up') sign-up
    li
      a(href='/contact') Contact-us
  p Welcome to #{title}
  form(method="post",action="/link")
    ul
      each post in posts
        li
          a(href='/link/'+post.slug) #{post.title}



