doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',rel='stylesheet')
    script(type="text/javascripts",src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  body
    block navbar
    nav.navbar.navbar-default(role="navigation")
      .navbar-inverse
        div.container-fluid
          div.nav.navbar-header
            a.navbar-brand(href="/") Website Name
          ul.nav.navbar-nav.navbar-right
            li.active: a(href="/") Home
            if login
              li.dropdown
                span
                  |  Account 
                span.caret
                ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                  li
                    a(href="#") action
                  li 
                    a(href="/logout") Logout
            else
              li: a(href="/login") Login
            li: a(href="/contact") Contact Us
    if (message)
      .alert.alert-danger #{message}
    block content

