extends layout

block content
	form(action='/register',enctype="mulitpart/image",method="post")
		br
		input(type="text",name="username",placeholder="User Name")
		br
		input(type="text",name="name",placeholder="Name")
		br
		input(type="email",name="email",placeholder="Email")
		br
		input(type="password",name="password",placeholder="password")
		br
		input(type="submit",value="Upload Image",text="Register")